<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>494649875737-3706bvtg9p2q8otsacf7jaf3vq104qbo.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.494649875737-3706bvtg9p2q8otsacf7jaf3vq104qbo</string>
<key>API_KEY</key>
<string>AIzaSyBugA8prM3ByUQnp8zdZ0tTNAUDtojLFVQ</string>
<key>GCM_SENDER_ID</key>
<string>494649875737</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>com.example.login</string>
<key>PROJECT_ID</key>
<string>food-2c37e</string>
<key>STORAGE_BUCKET</key>
<string>food-2c37e.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false></false>
<key>IS_ANALYTICS_ENABLED</key>
<false></false>
<key>IS_APPINVITE_ENABLED</key>
<true></true>
<key>IS_GCM_ENABLED</key>
<true></true>
<key>IS_SIGNIN_ENABLED</key>
<true></true>
<key>GOOGLE_APP_ID</key>
<string>1:494649875737:ios:ef3bb3fbf160945b37b988</string>
</dict>
</plist>